<div class="all-baskets">

  <% if user_signed_in? && current_user.restaurant? %>
    <div class="container">
      <br>
      <% if @baskets.size == 0 %>
        <h1 class="text-center"> You dont have any published baskets yet!</h1>
        <div class="container text-center">
          <%= link_to new_basket_url() do  %>
            <button class="btn-sign mb-1 mt-3 rounded-3 text-center" id='add-basket-button'>Add a basket!</button>
          <% end %>
        </div>

      <% else %>
      <div class="container text-center">
        <%= link_to new_basket_path do  %>
            <button class="btn-sign mb-1 mt-3 rounded-3" id='add-basket-button'>Adicione um imóvel</button>
          <% end %>
          <h1 class="text-center"> Veja seus imóveis</h1>
      </div>

      <% end %>
    </div>
  <% end %>

  <% basket_array = %w[
https://images.unsplash.com/photo-1518780664697-55e3ad937233?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80

https://images.unsplash.com/photo-1570129477492-45c003edd2be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80

https://images.unsplash.com/photo-1600596542815-ffad4c1539a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1475&q=80

https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80

https://images.unsplash.com/photo-1576941089067-2de3c901e126?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1578&q=80

]%>

  <div class="container pt-3">
    <div class="row">
      <% @baskets.each do |basket| %>
        <div class="col-md-12 col-sm-12 col-xl-6">
          <div class="basket-card">
            <div class="wrapper">
              <div class="product-img">
                <% if basket.photo.attached? %>
                  <%= cl_image_tag basket.photo.key, height: 321, width: 250, crop: :fill %>
                <% else%>
                  <img src="<%=basket_array.sample%>" height="321" width="250">
                <%end%>
              </div>
              <div class="bookmark-heart">
              <% if favourite = Favourite.find_by(user: current_user, basket: basket)  %>
                  <%= link_to favourite_path(favourite), method: :delete, remote: true  do %>
                    <i class='fas fa-heart align-self-center text-center '></i>
                  <% end %>
              <% else %>
                  <%= link_to basket_favourites_url(basket),method: :post, remote: true do %>
                    <i class='far fa-heart align-self-center text-center '></i>
                  <% end %>
              <%end%>
              </div>
              <div class="product-info">
                <div class="product-text">
                <% if basket.name == '' || basket.name.include?('Faker') %>
                  <h1>Basket #<%=basket.id%></h1>
                <% else %>
                  <h1><%= basket.name %></h1>
                <% end %>
                  <h2>by <%= User.find(basket.user_id).email.split('@').first %></h2>
                  <p><%=basket.description%> </p>
                </div>
                <div class="price-flex">
                  <p><%= basket.price %> R$</p>
                  <div class="product-price-btn">
                    <% if user_signed_in? && current_user.restaurant?%>
                      <%= link_to basket_url(basket) do  %>
                      <button type="button">details</button>
                      <% end  %>
                    <% else %>
                      <%= link_to basket_url(basket) do  %>
                      <button type="button">details</button>
                      <% end  %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
