<!--<h1>Baskets#show</h1>

<p><%= @basket.description %></p>
<p><%= @basket.address %></p>
<p><%= @basket.price %></p>
<p><%= @basket.latitude %></p>
<p><%= @basket.longitude %></p>

<div id="map"
       style="width: 50%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<ul class="list-group">
  <% @basket.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>-->
<% basket_array = %w[
https://images.unsplash.com/photo-1518780664697-55e3ad937233?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80

https://images.unsplash.com/photo-1570129477492-45c003edd2be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80

https://images.unsplash.com/photo-1600596542815-ffad4c1539a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1475&q=80

https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80

https://images.unsplash.com/photo-1576941089067-2de3c901e126?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1578&q=80

]%>

<div class="basket-card-big">
  <div class="wrapper">
    <div class="product-img">
      <% if @basket.photo.attached? %>
                  <%= cl_image_tag @basket.photo.key, height: 530, width: 413, crop: :fill %>
                <% else%>
                  <img src="<%= basket_array.sample%>" height="530" width="413">
                <%end%>
    </div>
    <div class="product-info">
      <div class="product-text">
        <% if @basket.name == '' %>
          <h1>Basket #<%= @basket.id %></h1>
        <% else %>
          <h1><%= @basket.name %></h1>
        <% end %>
        <h2>by <%= User.find(@basket.user_id).email.split('@').first %></h2>
        <h2><%= @basket.address %></h2>
        <p><%=@basket.description%> </p>
      </div>
      <div class="price-flex">
        <p><%= @basket.price %> R$</p>
        <div class="product-price-btn">
          <%= turbo_frame_tag id="proposta" do  %>
            <%= link_to new_basket_order_path(@basket) do %>
              <button type="button">Fazer proposta</button>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="product-img">
        <div id="map" 
        style="width: 413px; height: 530px;">
        </div>
        <script>
          mapboxgl.accessToken = 'pk.eyJ1IjoiZ3RleDEiLCJhIjoiY2xoY245dmR4MTJyajNjbzdkZnE5a3pkbCJ9.fopXMTpIGQW4hTHcXDKSPw';
        const map = new mapboxgl.Map({
        container: 'map', 
        style: 'mapbox://styles/mapbox/streets-v12', 
        center: [-47.4935102, -23.4823052], 
        zoom: 9 
        });
        </script>
    </div>
  </div>
</div>
